@{
    ViewData["Title"] = "Home Page";
    List<bridge.Models.Locations.Location> CityList = (List<bridge.Models.Locations.Location>) ViewData["location"];
}
<div class="flex-container" id="main-container">
    <div style="height: 60px"></div>
    <div class="container" id="container-main-search">
        <div class="row justify-content-center">
            <div class="col-sm-8 px-0">
                    <h2 class="font-main">Find a professional near you</h2>
                    <h4 class="font-main font-grey"> Start your search below</h4>
            </div>
        </div>
        <form action="\home\search" method="get">
            <div class="row justify-content-center">
                <div class="col-sm-4 px-0">
                <input type="text" class="form-control" placeholder="Search the profession" name="txtPro">
                </div>
                <div class="col-sm-2 px-0">
                    <select name="selectedCity" class="custom-select">
                        <option selected>City</option>
                        @foreach(var item in CityList)
                        {
                            <option value="@item.city">@item.city</option>
                        }
                    </select>
                </div>
                <div class="col-sm-2 px-0"><input type="submit" class="btn btn-primary" value="search"></div>
            </div>
        </form>
</div>
